<!-- _includes/header.html -->
<div class="banner">
  <div class="top-left">
    <div class="title1">
      Australian Institute of Learning and Reasoning Systems (AILARS)
      <!-- <span class="year">2025</span> -->
    </div>
<!--     <div class="title2">In Conjunction with AAAI 25'</div> -->
    <div class="title2">
      <!-- In Conjunction with 
      <a href="https://aaai.org/conference/aaai/aaai-26/" target="_blank">AAAI 26'</a> -->
    </div>

  </div>
  <div class="bottom-right">
    <!-- Jan. 20-27, 2026 <br> Singapore EXPO -->
  </div>
</div>

<table class="navigation">
  <tr>
    <td class="navigation">
      <a href="{{ '/' | relative_url }}" class="{% if page.nav == 'home' %}current{% endif %}">About Us</a>
    </td>
    <td class="navigation">
      <a href="{{ '/registration/' | relative_url }}" class="{% if page.nav == 'registration' %}current{% endif %}">our Research</a>
    </td>
    <td class="navigation">
      <a href="{{ '/program/' | relative_url }}" class="{% if page.nav == 'program' %}current{% endif %}">Key Initilaitves</a>
    </td>
    <td class="navigation">
      <a href="{{ '/venue/' | relative_url }}" class="{% if page.nav == 'venue' %}current{% endif %}">Opporutnites</a>
    </td>
    <td class="navigation">
      <a href="{{ '/program/' | relative_url }}" class="{% if page.nav == 'program' %}current{% endif %}">Our Impact</a>
    </td>
    <td class="navigation">
      <a href="{{ '/venue/' | relative_url }}" class="{% if page.nav == 'venue' %}current{% endif %}">Our People</a>
    </td>
  </tr>
</table>
